html, body, div, p {
    font-family: 'Helvetica', sans-serif;
    padding: 0px;
    margin: 0px;
}

div.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: gray;
}

img.logo {
    height: 140px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    background-color: whitesmoke;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}
  
li a {
    display: block;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    width: auto;
}
  
li a:hover {
    background-color: black;
    color: white;
    border-radius: 10px;
}

