@page
@model IndexModel
@{
    ViewData["Title"] = "Sport Redi-Mix";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>Patti Herges  |  pherges@sportredimix.com  | +1 (217) 372-6853‬</p>
    <p>Chris Knipfer  |  ckam@sportredimix.com  |  +1 (217) 202-5725‬</p>
    <p>Kevin Hendricks</p>
</div>
