@page
@model IndexModel
@{
    ViewData["Title"] = "Sport Redi-Mix";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>Patti Herges</p>
    <p>Chris Knipfer</p>

</div>
